<% provide(:title, 'RSL') %>
<div class="center jumbotron">
  <h1>Raid: Champions</h1>
</div>
<div class="list-header">
    <div class="dataTables_filter">
        <label>
            <!-- TODO: add a q mark in a ::before -->
            <%= form_with(url: raid_champions_path, method: "get") do |form| %>
                <%= form.text_field :search, id: "search-input", placeholder: "Filter Results" %>
            <% end %>
        </label>
    </div>
    <div class="dataTables_info">
        <span class="raid-label">
            <span class="bold-entries">1</span>
             - 
            <span class="bold-entries">3</span>
             of 
            <span class="total-entries">3</span>
        </span>
         (filtered from 1,219 total entries)
    </div>
    <section class="list-header">
        <div class="list-header-buttons">
            <!-- TODO: add a ::before to replace the + -->
            <a><i class="fa-solid fa-plus show-new-champion-form"></i></a>
        </div>
    </section>
</div>
<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">
                    Faction
                    <%= form_with url: raid_champions_path, method: :get, local: true do |form| %>
                        <% selected_faction_id = params.dig(:raid, :faction_id) %>
                        <%= form.collection_select :faction_id, @factions, :id, :name, { prompt: selected_faction_id.present? ? @factions.find(selected_faction_id).name : "Select Faction" }, id: "faction-dropdown" %>
                        <%= form.hidden_field :_destroy, value: true %>
                        <%= form.submit "Clear Filter", class: "btn btn-secondary btn-sm ml-1" %>
                        <% if params[:raid].present? && params[:raid][:faction_id].present? %>
                            <%= link_to "x", raid_champions_path, class: "btn btn-danger btn-sm ml-1" %>
                        <% end %>
                    <% end %>
                </th>
                <th scope="col">
                    Rarity
                    <%= form_with url: raid_champions_path, method: :get, local: true do |form| %>
                        <%= form.collection_select :rarity_id, @rarities, :id, :name,
                                                    {prompt: "select"}, id: "rarity-dropdown" %>
                        <%= form.hidden_field :_destroy, value: true %>
                        <%= form.submit "Clear", class: "btn btn-secondary" %>
                    <% end %>
                </th>
                <th scope="col">
                    Affinity
                    <%= form_with url: raid_champions_path, method: :get, local: true do |form| %>
                        <%= form.collection_select :affinity_id, @affinities, :id, :name,
                                                    {prompt: "select"}, id: "affinity-dropdown" %>
                        <%= form.hidden_field :_destroy, value: true %>
                        <%= form.submit "Clear", class: "btn btn-secondary" %>
                    <% end %>
                </th>
                <th scope="col">
                    Role
                    <%= form_with url: raid_champions_path, method: :get, local: true do |form| %>
                        <%= form.collection_select :role_id, @roles, :id, :name,
                                                    {prompt: "select"}, id: "role-dropdown" %>
                        <%= form.hidden_field :_destroy, value: true %>
                        <%= form.submit "Clear", class: "btn btn-secondary" %>
                    <% end %>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- Hidden form row -->
            <tr id="new-champion-form-row" style="">
                <%= form_with model: Champion.new, url: raid_champions_path, local: true do |form| %>
                    <td><%= form.text_field :name %></td>
                    <td><%= form.collection_select :faction_id, Faction.all, :id, :name, {prompt: "select"} %></td>
                    <td><%= form.collection_select :rarity_id, Rarity.all, :id, :name, {prompt: "select"} %></td>
                    <td><%= form.collection_select :affinity_id, Affinity.all, :id, :name, {prompt: "select"} %></td>
                    <td><%= form.collection_select :role_id, Role.all, :id, :name, {prompt: "select"} %></td>
                    <td><%= form.submit 'Create' %></td>
                <% end %>
            </tr>

            <% @champions.each do |champion|%>
                <tr>
                    <td><%= champion.name %></td>
                    <td><%= champion.faction.name %></td>
                    <td><%= champion.rarity.name %></td>
                    <td><%= champion.affinity.name %></td>
                    <td><%= champion.role.name %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>