<% provide(:title, 'RSL') %>
<div class="center jumbotron">
  <h1>Raid</h1>
  <p>Home to the RSL!</p>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Faction</th>
        </tr>
      </thead>
      <tbody>
        <%= form_with(model: @faction, local: true) do |form| %>
          <tr>
            <% if @faction.errors.any? %>
              <td><%= pluralize(@faction.errors.count, "error") %></td>
              <td>
                <% @faction.errors.full_messages.each do |message| %>
                  <%= message %>
                <% end %>
              </td>
            <% end %>
          </tr>
          <tr>
            <td><%= form.text_field :name, class: 'form-control' %></td>
            <td><%= form.submit "Submit", class: "btn btn-primary" %></td>
          </tr>
        <% end %>

        <%= @factions.each do |faction|%>
          <tr>
            <td><%= faction.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Rarity</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>