<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
			<%= link_to "Harbor Nebula", root_path, id: "logo" %>
			<%= link_to image_tag("MainImages/favicon.ico", alt: "Harbor Nebula Logo", width: "40"), root_path, id: "logo" %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home",   root_path %></li>
					<li><%= link_to "RSL",   raid_path %></li>
					<li><%= link_to "EVE Online", eve_path %></li>
				</ul>
			</nav>
		</div>
</header>